{% extends 'base.html' %}
{% block title %}Add a Pet{% endblock %}

{% block content %}
<h1>Add a new pet</h1>

    <div>
        <form method="POST">
            {{form.hidden_tag() }}

            {% for field in form if field.widget.input_type != "hidden"%}
            <div class="form-group">
                {{field.label}}
                {{field(class_="form-control")}}
                {% for err in field.errors %}
                <small class="form-text text-danger">
                    {{err}}
                </small>
                {% endfor %}
            </div>
            {% endfor %}
            <button>Submit</button>
            <a href="/" class="return-button">Go Back</a>
        </form>
    </div>
{% endblock %}